---
import Icon from "astro-icon";
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Thomas Puckett, a programmer and game developer from Kentucky.
      <br />
       My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Rust w/ Bevy and Egui</li>
        <li>Lua</li>
        <li>C++</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      While I have my preferred tooling and languages, I am a quick learner
      and can easily adapt once I know the basics of the tooling provided.
      Even before that, learning the basics typically comes easily to me, so 
      I should be able to adapt to any environment I'm put in.
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about learning the Japanese language
      and culture surrounding it. While I wouldn't say I'm anywhere near fluent,
      I love interacting with natives and native media. Seeing how different we
      are culturally is fascinating. I love it. Oh, I also play a TON of games,
      Counter-Strike being my favorite series behind Borderlands. Titanfall 2 is up there though.
      I love Source engine movement in any capacity though, it's so much fun. 
    </p>
  </div>
</Card>
